@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

:root{
    --fonte-principal:'Reggae One';
    --cor-secundaria:#566141;
    --cor-destaque: #CCE69A;
    --cor-de-fundo:#ACADA8;
    --cor-hover-botao:#607831;
    --branco: #ffffff;
    --preto: #000000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    transition-duration: 0.3s
}

body{
    background-color: var(--cor-de-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}



.cabecalho{
    z-index: 2;
    width: 100vw;
    padding: 1em;
    background: linear-gradient(90deg, var(--cor-secundaria) 15.13%, var(--cor-destaque) 72.09%, var(--cor-secundaria) 96.45%);
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.25));

}

.cabecalho__elementos{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.cabecalho__titulo{
    
    color: var(--branco);
    font-size: 2em;
    font-weight: 400;
    font-style: normal;
    text-shadow: 
               -3px -3px 3px var(--preto), 
               -3px 3px 3px var(--preto),
               3px -3px 3px var(--preto),
               3px 3px 3px var(--preto);
    
}



.botoes__cor{
    display: flex;
    align-self:flex-end;
}

.mudar__cor{
    border-radius: 1em;
    width: 4vh;
    height: 4vh;
    border: var(--branco) 1px solid;
    margin: 1px;
}

#cor1{
    background: linear-gradient(117.85deg, #566141 50%, #E3FFAC 115.94%);
}
#cor2{
    background: linear-gradient(117.85deg, #CD4978 50%, #FA8B3B 115.94%);
}
#cor3{
    background: linear-gradient(117.85deg, #2B2C30 50%, #8C8C8C 115.94%);
}

.mudar__cor:hover{
    border: var(--branco) 5px solid;
}
.conteudo__principal{
    
    display: flex;
    flex-direction: column;

}
.conteudo__titulo{
    text-align: center;
    padding: 0.5em 0;
    font-size: 1.5em;
    font-weight: 400;
    color: var(--branco);
    text-shadow: -3px 4px 4px rgba(0, 0, 0, 0.8);  
}

.jogo{
    align-self: center;
    display: grid;
    grid-template-columns: auto auto auto;
    height:50vh;
    width: 50vh;
    grid-gap: 1vh;

}


.botoes{
    
    box-sizing: border-box;
    border: 0.8vh solid var(--branco);
    box-shadow: inset 21px 25px 19px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px ;
    background: var(--cor-de-fundo);
    width: 16vh;
    height: 16vh;
    font-size: 8vh;
    color:var(--branco);
    text-shadow: -3px 4px 4px rgba(0, 0, 0, 0.8);
    
}

.selecionavel:hover{
    border-color: var(--cor-hover-botao);
}

.destaque__vitoria{
    border: 0.9vh solid var(--cor-destaque) !important;
}

.botao{
    padding: 1em;
    border-radius: 1.5em;
    background-color: var(--cor-destaque);
    color: var(--branco);
    border: var(--branco) 1px solid;
    box-shadow: inset 21px 25px 19px 9px var(--cor-secundaria); 
    align-self:flex-end;
    
    margin-top: 1em;
}
.botao:hover{
    background-color: var(--cor-hover-botao);
    color: white;
    box-shadow: none;
}

.form__players{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.player__field{
    padding: 10px 0px;	
	position: relative;	
}
.player__icon{
    position: absolute;
	top: 38px;
    left: 5px;
	color: var(--branco);
}
.player_input{
    border: none;
	border-bottom: 2px solid var(--branco);
	background: none;
	padding: 10px;
	padding-left: 24px;
	width: 75%;
	transition: .2s;
    margin-top: 20px;
    
}

.player_input:active,
.player_input:focus,
.player_input:hover {
    
	outline: none;
	border-bottom-color: var(--cor-hover-botao);
}
.player_input::placeholder{
    color: var(--branco);
}

.rodape{
    z-index: 2;
    bottom: 0;
    width: 100vw;
    position: fixed;
    background-color: var(--cor-secundaria);

}

.rodape__texto{
    text-align: center;
    color: var(--branco);
    font-size: 1em;
    margin:0.5em;
}

.modal{
    display: flex;
    
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(90deg, var(--cor-secundaria) 15.13%, var(--cor-destaque) 72.09%, var(--cor-secundaria) 96.45%);
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.25));
}










@media(max-width:550px){
    .jogo{
        height:74vw;
        width: 74vw;
        grid-gap: 1vw;
    }
    .botoes{
        width: 24vw;
        height: 24vw;
        border: 1.2vw solid var(--branco);
        font-size: 12vw;
    }
    /* .botoes__cor{
        flex-direction: column;
    } */
    .mudar__cor{

        width: 7vw;
        height: 7vw;
    }
    #reiniciar__botao{
        margin-left: 0;
    }
    .cabecalho{
        padding: 1em 0;
    }

}



