@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

:root{
    --fonte-principal:'Reggae One';
    --cor-secundaria:#566141;
    --cor-destaque: #CCE69A;
    --cor-de-fundo:#ACADA8;
    --hover-button:#4CAF50;
    --branco: #ffffff;
    --preto: #000000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

body{
    background-color: var(--cor-de-fundo);
}



.cabecalho{
    padding: 1em;
    background: linear-gradient(90deg, var(--cor-secundaria) 15.13%, var(--cor-destaque) 72.09%, var(--cor-secundaria) 96.45%);
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.25));
}

.cabecalho__titulo{
    color: var(--branco);
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
    text-shadow: 
               -3px -3px 3px var(--preto), 
               -3px 3px 3px var(--preto),
               3px -3px 3px var(--preto),
               3px 3px 3px var(--preto);
    
}

.conteudo__principal{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.conteudo__titulo{
    text-align: center;
    padding: 0.5em 0;
    font-size: 2em;
    font-weight: 400;
    color: var(--branco);
    text-shadow: -3px 4px 4px rgba(0, 0, 0, 0.8);  
}

.jogo{
    display: grid;
    grid-template-columns: auto auto auto;
    height:50vh;
    width: 50vh;
    grid-gap: 1vh;

}


.botoes{
    
    box-sizing: border-box;
    border: 0.5em solid var(--branco);
    box-shadow: inset 21px 25px 19px 9px rgba(0, 0, 0, 0.25);
    border-radius: 1.5em; 
    background: var(--cor-de-fundo);
    width: 16vh;
    height: 16vh;
    transition-duration: 0.3s
}

.botoes:hover{
    border-color: var(--hover-button);
}


.reiniciar{
    align-self:flex-end;
    margin-right: 25vw;
    padding: 1em;
    border-radius: 1.5em;
    background-color: var(--cor-destaque);
    color: var(--preto);
    border: var(--branco) 1px solid;
    box-shadow: inset 21px 25px 19px 9px rgba(0, 0, 0, 0.25); 
    transition-duration: 0.3s
}
.reiniciar:hover{
    background-color: var(--hover-button);
    color: white;
}

.rodape{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    background-color: var(--cor-secundaria);

}

.rodape__texto{
    text-align: center;
    color: var(--branco);
    font-size: 1em;
    margin:0.5em;
}

@media(max-width:550px){
    .jogo{
        height:74vw;
        width: 74vw;
        grid-gap: 1vw;
    }
    .botoes{
        width: 24vw;
        height: 24vw;
    }

}
@media(max-width:1400px){
    .reiniciar{
        margin-top: 1em;
    }

    

}

