@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

:root{
    --branco: #ffffff;
    --cor-de-fundo:#566141;
    --cor-botao: #CCE69A;
    --cor-rodape: #566141;
    --fonte-principal:'Reggae One';
    --titulo: #DEE0DA;
    --rodape:  #566141;
    --botao-texto: #636461;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

body{
    background-color: var(--rodape);
}



.cabecalho{
    padding: 2em;
    background: linear-gradient(90deg, #566141 15.13%, #CCE69A 72.09%, #566141 96.45%);
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.25));
}

.cabecalho__titulo{
    color: var(--branco);
    font-size: 48px;
    font-weight: 400;
}

.conteudo__principal{
    background: var(--cor-de-fundo);
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.conteudo__titulo{
    text-align: center;
    padding: 0.5em 0;
    font-size: 48px;
    font-weight: 400;
    color: var(--titulo);
    text-shadow: -3px 4px 4px rgba(0, 0, 0, 0.8);  
}

.jogo{
    display: grid;
    grid-template-columns: auto auto auto;
    height:50vh;
    width: 50vh;
    grid-gap: 0.5em;

}


.botoes{
    
    box-sizing: border-box;
    border: 0.5em solid #DEE0DA;
    box-shadow: inset 21px 25px 19px 9px rgba(0, 0, 0, 0.25);
    border-radius: 31px; 
    background: #ACADA8;

    transition-duration: 0.3s
}

.botoes:hover{
    border-color: #4CAF50; /* Green */
}


.reiniciar{
    align-self:flex-end;
    margin-right: 25vw;
    padding: 1em;
    border-radius: 1.5em;
    background-color: var(--cor-botao);
    color: var(--botao-texto);
    border: var(--cor-botao) 1px solid;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25); 
    transition-duration: 0.3s
}
.reiniciar:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}

.rodape{
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100vw;
}

.rodape__texto{
    text-align: center;
    color: var(--branco);
    font-size: 1em;
}

@media(max-width:550px){
    .jogo{
        height:75vw;
        width: 75vw;
    }

}
@media(max-width:1400px){
    .reiniciar{
        margin-top: 1em;
    }

}

